<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-form">
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username" class="input-field" required>
                <input type="password" name="password" placeholder="Password" class="input-field" required>
                <div class="button-container">
                    <button type="button" class="register-button" onclick="window.location.href='/register'"> Sign Up</button>
                    <button type="submit" class="login-button">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
</html>