<!DOCTYPE html>
<html>
<head>
  <title>New Product</title>
  <link rel="stylesheet" href="../stylesheets/newproduct.css">
</head>
<body>
  
    <form action="/new" method="POST" enctype="multipart/form-data" class="form-container">
  <label>Product Title:</label>
  <input type="text" name="title" required><br>

  <label>Description:</label>
  <textarea name="description" required></textarea><br>

  <label>Price:</label>
  <input type="number" name="price" required><br>

  <label>Category:</label>
  <select name="category" required>
    <option value="">Select Category</option>
    <option value="Electronics">Electronics</option>
    <option value="Groceries">Groceries</option>
    <option value="Clothing">Clothing</option>
    <option value="Books">Books</option>
  </select><br>

  <label>Image:</label>
  <input type="file" name="image" accept="image/*" required><br>

  <button type="submit">Submit Product</button>
</form>

  
</body>
</html>
